.userInfo {
  grid-area: userInfo;
  background: #ebecf0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 90%;
  margin: 10px 45px;
  border-radius: 15px;
  min-height: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  & span:nth-child(2n+1) {
    font-weight: bold;
  }

  & span {
    margin: 15px 0 10px 15px;
  }

  & p {
    margin: 5px 15px;
    text-align: left;
  }

  & button {
    border-radius: 5px;
    height: 35px;
    padding: 5px 10px;
    margin: 10px 0 0 85%;
    border: 1px solid #000000;
    font-size: 20px;
  }

  & button:hover {
    cursor: pointer;
  }

}



